.forgot {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: calc(100vh - 88px);
}

.title {
  margin: 180px 0 24px;
}

.form {
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  color: #8585ad;
}

.button {
  width: 196px;
}
