.constructor {
  width: 600px;
  height: 912px;
}

.constructor__container {
  height: 656px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.constructor__icon {
  height: 24px;
}

.constructor__scrollbar {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.constructor__scrollbar::-webkit-scrollbar {
  width: 8px;
}

.constructor__scrollbar::-webkit-scrollbar-track {
  background: #2f2f37;
}

.constructor__scrollbar::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.constructor__item {
  width: 568px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.constructor__item:first-child {
  justify-content: flex-end;
}

.constructor__item:last-child {
  justify-content: flex-end;
}

.constructor__price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*Я не смог обратиться к стилям элементов из библиотеки
и класс не получилось навесить. Не знаю и не нашел как это сделать.*/
.constructor__price > button {
  cursor: pointer;
}

.constructor__price > svg {
  width: 36px;
  height: 36px;
  margin-right: 20px;
}
