.page {
  width: 100%;
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(133, 180, 250);
}

.status {
  font-size: 130px;
  margin: 0;
}
