.root {
  background-color: #131316;
  font-family: 'Jet Brains Mono', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

.page {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #131316;
}

.main {
  width: 1240px;
  display: flex;
  justify-content: space-between;
}
