.forgot {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
  height: calc(100vh - 88px);
  color: white;
}

.title {
  margin: 180px 0 24px;
}

.form {
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  color: #8585ad;
}

.link {
  text-decoration: none;
  margin-left: 8px;
  color: #4c4cff;
}

.button {
  width: 196px;
}
